:root {
  --table-border: #000;
  --link-color: #000;
  --link-color-active: #999; }

body {
  margin: 20px 50px;
  font-family: sans-serif; }

a:link, a:visited {
  color: var(--link-color);
  text-decoration: underline; }

a:hover, a:active {
  color: var(--link-color-active);
  text-decoration: none; }

h1 {
  font-family: serif;
  font-weight: normal; }

h2 {
  border-left: 1px solid #000;
  padding: 0 0 0 15px;
  font-size: 1.5em;
  font-family: serif;
  font-weight: normal; }

h3 {
  font-size: 1.17em; }

p {
  margin: 20px 0; }

ul {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0; }

th, td {
  border: 1px solid var(--table-border);
  padding: 7px 10px; }

header nav ul, footer nav ul {
  margin: 0;
  padding: 0; }

header nav li, footer nav li {
  margin: 0 15px 0 0;
  display: inline; }
